absl-py
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
astor
astunparse
attrs
Babel
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
colorama
comm
cycler
Cython
debugpy
decorator
defusedxml
docutils
entrypoints
exceptiongroup
fastjsonschema
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
imagesize
imgaug
importlib-metadata
importimport-resources
ipykernel
ipyparallel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nose
notebook
notebook-shim
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandocfilters
parso
pickleshare
Pillow
pip
pkgutil-resolve-name
prometheus-client
prompt-toolkit
protobuf
psutil
pyasn1
pyasn1-modules
pycocotools
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-image
scipy
Send2Trash
shapely
simplegeneric
six
sniffio
snowballstemmer
soupsieve
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-gpu
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
tifffile
tinycss2
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
zipp